<div class="shortpost">
  <a href="/posts/<%= post._id %> ">
    <div class="post-image"><%= post.image %></div>
    <div class="post-title"><%= post.title %></div>
    <post class="date"><%= post.date %> </post>
    <div class="post-summary"><%= post.summary %></div>
  </a>
</div>
